
.dice {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size:18px;
  font-family: 'Ubuntu';
  display: inline-block;
}
.container {
  min-height: 100vh;

}
